@model InventoryListModel
@{
    ViewData["Title"] = "Inventories";
    ViewData["PageNav"] = "Available Products";
}
@section Styles
{
<link rel="stylesheet" href="/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">

}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Available Products</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="inventory-datatable" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>SKU</th>
                                            <th>Quantity</th>
                                            <th style="width:20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>SKU</th>
                                            <th>Quantity</th>
                                            <th style="width:20%">Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <partial name="_DeletePopUpPartial" />

                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>
@section Scripts
{
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(function () {
            $('#inventory-datatable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/admin/inventory/GetInventoryList",
                },
                 "columnDefs": [
                    {
                    
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/inventory/add/${data}'" value='${data}'>
                                        <i class="fas fa-pencil-alt"></i>
                                        Add
                                    </button>
                                     <button type="submit" class="btn btn-danger btn-sm" onclick="window.location.href='/admin/inventory/delete/${data}'" value='${data}'>
                                        <i class="fas fa-trash"></i>
                                        Delete
                                    </button>`;
                         }
                    }
                ]
            });
            
        });
</script>
}